<ion-view view-title="Rate">  
	<ion-content scroll="true" padding="false">
<!-- 		<h2>{{ place.attributes.Venue_Name }}</h2> -->
		<ion-list>
			<div class="padding">
	    		<h2>Time of Rating</h2>
	    		<ti-segmented-control on-select="buttonClicked($index)" style="width: 100%;">
	    			<ti-segmented-control-button class="button-positive" title="'Now'"></ti-segmented-control-button>
	    			<ti-segmented-control-button class="button-positive" title="'Past'" selected></ti-segmented-control-button>
	    		</ti-segmented-control>
	    		<label class="item item-input">
  					<span class="input-label">Date</span>
  					<input type="date">
				</label>
	      	</div>
	      	<div class="padding">
				<h2>How Busy</h2>
				<div class="item range range-positive">
					<i>Empty</i>
					<input type="range" ng-model="ratingBusy" min="0" max="100" value="50">
					<i>Packed</i>
				</div>			
	      	</div>
	      	<div class="padding">
	    		<h2>Service Quality</h2>
	    		<div class="item range range-positive">
					<i>Bad</i>
					<input type="range" ng-model="ratingService" min="0" max="100" value="50">
					<i>Awesome</i>
				</div>
	      	</div>
	      	<div class="padding">
	    		<h2>Drink Prices</h2>
	    		<div class="item range range-positive">
					<i>Cheap</i>
					<input type="range" ng-model="ratingPrice" min="0" max="100" value="50">
					<i>Expensive</i>
				</div>
	      	</div>
	      	<div class="padding">
	    		<h2>Queue</h2>
	    		<div class="item range range-positive">
					<i>None</i>
					<input type="range" ng-model="ratingQueue" min="0" max="100" value="50">
					<i>Hours</i>
				</div>
	      	</div>
	      	<div class="padding">
	    		<h2>Entertainment</h2>
	    		<ul class="list">
				  	<li class="item item-checkbox">
				     	<label class="checkbox">
				       		<input type="checkbox" ng-model="sports">
				     	</label>
						Sports
				  	</li>
					<li class="item item-checkbox">
				    	<label class="checkbox">
				       		<input type="checkbox" ng-model="liveMusic">
				     	</label>
				     	Live Music
				  	</li>
				  	<li class="item item-checkbox">
				    	<label class="checkbox">
				       		<input type="checkbox" ng-model="dj">
				     	</label>
				     	DJ
				  	</li>
				  	<li class="item item-checkbox">
				    	<label class="checkbox">
				       		<input type="checkbox" ng-model="tab">
				     	</label>
				     	TAB
				  	</li>
				</ul>
	      	</div>
	      	<div class="padding">
	    		<h2>Overall Rating</h2>
	    		<div class="item range range-positive">
					<i class="icon ion-thumbsdown"></i>
					<input type="range" ng-model="ratingOverall" min="0" max="100" value="50">
					<i class="icon ion-thumbsup"></i>
				</div>
	      	</div>
	      	<button ng-click="addRating(ratingBusy, ratingService, ratingPrice, ratingQueue, ratingOverall, sports, liveMusic, dj, tab)" class="button button-full button-positive">
  				RATE
			</button>			
		</ion-list>
	</ion-content>
</ion-view>