<ion-view view-title="{{ place.attributes.Venue_Name }}">
      <ion-nav-buttons side="right">
        <a href="#/tab/rate">Rate</a>
      </ion-nav-buttons>
      <ion-content padding="true">
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
      </ion-refresher>
      <h2>{{ place.attributes.Venue_Name }}</h2>
    	<p>{{ place.attributes.Venue_Website }}</p>
    	<map on-create="mapCreated(map)" data-tap-disabled="true" style="height: 200px;"></map>
  		<!-- <a href="#/tab/list/rate/{{ place.id }}">Rate This Venue</a> -->
  		<!-- <button class="button button-positive">
  			Rate this Venue
		</button> -->
  	</ion-content>
</ion-view>