<ion-view view-title="Profile">  
  
  <ion-content scroll="true" padding="false">
    
    <ion-list>

    <div class="list" ng-show="registerLogin">
      
      <div class="padding">
        
        <ti-segmented-control on-select="buttonClicked($index)" style="width: 100%;">
          <ti-segmented-control-button class="button-positive" title="'Male'"></ti-segmented-control-button>
          <ti-segmented-control-button class="button-positive" title="'Female'" selected></ti-segmented-control-button>
        </ti-segmented-control>
      
      </div>
      
      <div class="padding">
        
        <ti-segmented-control on-select="buttonClicked($index)" style="width: 100%;">
          <ti-segmented-control-button class="button-positive" title="'Single'"></ti-segmented-control-button>
          <ti-segmented-control-button class="button-positive" title="'Relationship'" selected></ti-segmented-control-button>
        </ti-segmented-control>
      
      </div>
      
      <div class="list">
        
        <label class="item item-input item-select">
          <div class="input-label">
            D.O.B.
          </div>
          <select>
            <option>1982</option>
            <option selected>1983</option>
            <option>1984</option>
          </select>
        </label>
      
      </div>    
      
      <div class="list">
        
        <label class="item item-input item-select">
          <div class="input-label">
            Profession
          </div>
          <select>
            <option>Office</option>
            <option selected>Construction</option>
            <option>Teaching</option>
            <option>Retail</option>
            <option>Student</option>
          </select>
        </label>
      
      </div>
      
      <div class="list">
        
        <label class="item item-input item-select">
          <div class="input-label">
            Preferred Beverage
          </div>
          <select>
            <option>Beer</option>
            <option selected>Spirits</option>
            <option>Wine</option>
            <option>Cocktails</option>
          </select>
        </label>
      
      </div>
      
      <div class="list">
        
        <label class="item item-input item-select">
          <div class="input-label">
            Preferred Venue Type
          </div>
          <select>
            <option>Pub</option>
            <option selected>Club</option>
          </select>
        </label>
      
      </div>

      <button class="button button-positive" style="width: 100%;" ng-click="login(loginEmail, loginPassword)">Save</button>
    
    </div>

    </ion-list>
    
    <!-- <button class="button button-block button-positive">
  		Save
    </button> -->
  
  </ion-content>

</ion-view>
