<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{venue.name}}">
  <ion-content class="padding">
    
  
<!--
<img src="http://a1.images.venuescms.com/image/upload/s--IXOqb9py--/c_fill,fl_progressive,g_center,h_450,q_jpegmini,w_1000/qrx_image_7605_20140725030503_443804" style="width: 124px; height: 100px" style="width:100%">
-->

<img src="http://a2.images.venuescms.com/image/upload/s--kHJz_1v7--/t_photo-booth-2/qrx_image_7607_20140725030503_443804">
<!--
<div id="carousel" class="carousel slide" data-ride="carousel" style="background-image:url(http://a1.images.venuescms.com/image/upload/s--IXOqb9py--/c_fill,fl_progressive,g_center,h_450,q_jpegmini,w_1000/qrx_image_7605_20140725030503_443804)">
-->


    <img src="http://a2.images.venuescms.com/image/upload/c_fit,h_100/qrx_image_7681_20140728021402_348253.png" style="width: 124px; height: 100px;">
    <p>
      {{venue.lastText}}
    </p>
  </ion-content>
</ion-view>
