<ion-tabs class="tabs-icon-top tabs-positive">
  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>
  <!-- List Tab -->
  <ion-tab title="List" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/tab/list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>
  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>
</ion-tabs>
